# Ignore virtual environments
.venv/
old_openai_env/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore system files
.DS_Store
.idea/
.vscode/

# Ignore large or unnecessary data files
/data/
/logs/


# Ignore database files
*.db

# Ignore environment variables
.env
