# Ignore virtual environments
.venv/
old_openai_env/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore system files
.DS_Store
.idea/
.vscode/

# Ignore large or unnecessary data files
/data/
/logs/
/static/audio_output.mp3
/static/generated_audio.mp3
/static/video_summary_audio*.mp3
/static/videos/
/uploads/

# Ignore database files
*.db
